<script src='/assets/vendor/bootstrap/jquery-3.3.1.slim.min.js'></script>
<script src='/assets/vendor/bootstrap/jquery.cookie.min.js'></script>
<script src='/assets/vendor/bootstrap/bootstrap.bundle.min.js'></script>
<script src="/assets/vendor/bootstrap-toggle/bootstrap4-toggle.min.js"></script>
<link href="/assets/css/bootstrap4-toggle.min.css" rel="stylesheet">

<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });

  function handleError(errorText) {
    const errorEl = $('#error-wrapper')
    if (errorEl.length) {
      $('#error-wrapper').html('<div class="alert alert-danger" role="alert">' + errorText + '</div>')[0].scrollIntoView({
        behavior: 'smooth',
      });
    } else {
      window.alert(errorText)
    }
  }
</script>
