<footer class="footer">
  <!-- <div class="container"> -->
  <span class="text-muted">Dark Theme</span>
  <% let checked=theme.toString()=="dark" ? "checked" : "" %>
    <input id="dark-theme-toggle" type="checkbox" <%=checked %> data-toggle="toggle"
    data-onstyle="dark" data-size="xs">
    <!-- </div> -->
</footer>

<style>
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    /* background-color: #f5f5f5; */
  }
</style>

<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css"
  rel="stylesheet">
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>


<script>
  async function postData(url = '', data = {}) {
    // Default options are marked with *
    const response = await fetch(url, {
      method: 'POST', // *GET, POST, PUT, DELETE, etc.
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(data) // body data type must match "Content-Type" header
    });
    return response.json(); // parses JSON response into native JavaScript objects
  }

  $(function () {
    $('#dark-theme-toggle').change(function () {
      const themes = ['light', 'dark'];
      let newTheme;
      if ($('body').attr('data-theme') == themes[0]) {
        newTheme = themes[1];
      } else {
        newTheme = themes[0];
      }
      $('body').attr('data-theme', newTheme);
      $('html').attr('data-theme', newTheme);

      postData('/config/cookie', { theme: newTheme }) //persist it to cookie 
        .then(data => {
          // console.log(data);
        })
    });
  });
</script>