<div class="myclear"></div>
<footer class="footer">
  <span class="text-muted">Dark Theme</span>
  <% let checked = theme.toString() === "dark" ? "checked" : "" %>
  <input id="dark-theme-toggle" type="checkbox" <%=checked %> data-toggle="toggle" data-onstyle="dark" data-size="xs">
</footer>

<style>
  .myclear {
    clear: both;
    height: 60px;
  }

  .footer {
    position: fixed;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    /* background-color: #f5f5f5; */
  }
</style>

<script>
  const DEFAULT_THEME = 'light'

  function changeColorScheme(theme) {
    //dark theme preferred, set document with a `data-theme` attribute
    if (theme === "dark") {
      document.documentElement.setAttribute("data-theme", "dark");
    } else {
      document.documentElement.removeAttribute("data-theme");
    }

    //also check or uncheck the toggle
    $('#dark-theme-toggle').attr('checked', theme === "dark");
    document.location.reload();
  }

  function setCookie(theme) {
    $.cookie("theme", theme, { path: '/' });
  }

  function detectColorScheme() {
    const curTheme = document.documentElement.getAttribute("data-theme") || DEFAULT_THEME;

    setCookie(curTheme);
  }

  $(function () {
    $('#dark-theme-toggle').change(function () {
      const themes = ['light', 'dark'];

      const curTheme = document.documentElement.getAttribute("data-theme") || DEFAULT_THEME;
      const newTheme = curTheme === themes[1] ? themes[0] : themes[1]

      setCookie(newTheme);
      changeColorScheme(newTheme);
    });

    detectColorScheme();
  });
</script>
