<div class="myclear"></div>
<footer class="footer">
  <span class="text-muted">Dark Theme</span>
  <input id="dark-theme-toggle" type="checkbox" data-toggle="toggle" data-onstyle="dark" data-size="xs">
</footer>

<style>
  .myclear {
    clear: both;
    height: 60px;
  }

  .footer {
    position: fixed;
    margin-top: 20px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px;
    /* Vertically center the text there */
    /* background-color: #f5f5f5; */
  }
</style>

<script>
  const DEFAULT_THEME = 'light'

  function detectColorScheme() {
    var theme = DEFAULT_THEME;    //default to light

    //local storage is used to override OS theme settings
    if (localStorage.getItem("theme")) {
      if (localStorage.getItem("theme") == "dark") {
        var theme = "dark";
      }
    } else if (!window.matchMedia) {
      //matchMedia method not supported
      return false;
    } else if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      //OS theme setting detected as dark
      var theme = "dark";
    }

    //dark theme preferred, set document with a `data-theme` attribute
    if (theme == "dark") {
      document.documentElement.setAttribute("data-theme", "dark");
    } else {
      document.documentElement.removeAttribute("data-theme");
    }

    //also check or uncheck the toggle
    $('#dark-theme-toggle').attr('checked', theme == "dark");
  }

  $(function () {
    $('#dark-theme-toggle').change(function () {
      const themes = ['light', 'dark'];

      let newTheme, curTheme = document.documentElement.getAttribute("data-theme") || DEFAULT_THEME;

      if (curTheme == themes[1]) {
        newTheme = themes[0];
      } else {
        newTheme = themes[1];
      }

      localStorage.setItem('theme', newTheme);
      detectColorScheme();
    });

    detectColorScheme();
  });
</script>