<meta charset='UTF-8'>
<title>DynamoDB Admin</title>
<meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
<meta http-equiv='x-ua-compatible' content='ie=edge'>
<link rel='stylesheet' href='/assets/css/bootstrap.min.css'>

<style>
html, body {
  height: 100%;
}

body {
  padding-bottom: 20px;
  padding-top: 20px;
}

a pre {
  color: inherit;
}

.preformatted {
  white-space: pre;
}

/* go away, LastPass */
form[autocomplete="off"] input[type="text"] {
  background-position: 150% 50% !important;
}
</style>
