<!DOCTYPE html>
<html lang="en">
<head>
  <% include ./partials/head %>
</head>
<body class="container-fluid">
  <header>
    <ol class="breadcrumb">
      <a class="breadcrumb-item" href="/">Tables</a>
      <a class="breadcrumb-item active">Create table</a>
    </ol>
  </header>
  <main>
    <h1>Create table</h1>

    <form id="form" method="post">
      <div class="form-group">
<pre>{
  "TableName": <input type="text" name="TableName" autofocus />,
  "ProvisionedThroughput": {
    "ReadCapacityUnits": <input style="width: 50px;" type="number" name="ReadCapacityUnits" value="3">,
    "WriteCapacityUnits": <input style="width: 50px;" type="number" name="WriteCapacityUnits" value="3">
  },
  KeySchema: [
    {
      AttributeName: "id",
      KeyType: "HASH"
    }
  ],
  AttributeDefinitions: [
    {
      AttributeName: "id",
      AttributeType: "S"
    }
  ]
}</pre>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </main>
</body>
</html>
