<!DOCTYPE html>
<html lang='en'>
<head>
  <% include ./partials/head %>
</head>
<body class='container-fluid'>
  <header>
    <nav class='navbar navbar-fixed-top navbar-light bg-faded'>
      <div class="nav navbar-nav">
        <a class='navbar-brand' href='/'>DynamoDB Admin</a>
        <a class='nav-item nav-link active' href='/tables'>
          Tables
        </a>
      </div>
    </nav>
  </header>

  <main>
    <ul class="list-group">
      <% for(var i = 0; i < data.length; i++) { %>
        <li class="list-group-item">
          <a href='/tables/<%= data[i].TableName %>'>
            <%= data[i].TableName %>
          </a>
          <span class="tag tag-default tag-pill pull-xs-right">
            <%= data[i].ItemCount %>
          </span>
        </li>
      <% } %>
    </ul>
  </main>
</body>
</html>
